<div class="container">
    <!-- BANNER -->
    <section>
        <div class="well well-lg text-center">
            <h1>A huge library of courses and eBooks to help you learn.</h1>

            <ul class="list-unstyled">
                <li><h3><a href="#">Web Development</a></h3></li>
                <li><h3><a href="#">Graphic Design</a></h3></li>
                <li><h3><a href="#">Motion Graphics</a></h3></li>
                <li><h3>and more.</h3></li>
            </ul>

            <hr>

            <a href="#" class="btn btn-warning btn-lg">Sign Up</a> or <a href="#">Take the Tour</a>
        </div> <!-- end panel -->
    </section>
    <!-- MAIN CONTENT -->
    <section>
    <div class="row">
        <div class="col-lg-9">
            <ul class="list-unstyled">
                <li>
                    <article>
                        <div class="media">
                            <a href="#" class="pull-left"><img src="http://placehold.it/100x100" alt="Image" class="img-circle media-object"></a>

                            <div class="media-body">
                                <h1 class="media-heading">Converting an eCommerce PSD to HTML &amp; CSS</h1>

                                <ul class="list-inline">
                                    <li>
                                        <span class="glyphicon glyphicon-time text-muted"></span> December 23, 2013
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-folder-open text-muted"></span> <a href="#">Web Development</a>
                                    </li>
                                </ul>

                                <p>In this course, we’ll take a beautiful PSD design, and, over the course of a dozen videos, convert it to HTML and CSS!</p>

                                <ul class="list-inline pull-right">
                                    <li>
                                        <h4><span class="label label-default">13 Lessons</span></h4>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-warning">View Course</a>
                                    </li>
                                </ul>
                            </div> <!-- end media-body -->
                        </div> <!-- end media -->
                    </article>

                    <hr>
                </li>
                <li>
                    <article>
                        <div class="media">
                            <a href="#" class="pull-left"><img src="http://placehold.it/100x100" alt="Image" class="img-circle media-object"></a>

                            <div class="media-body">
                                <h1 class="media-heading">Converting an eCommerce PSD to HTML &amp; CSS</h1>

                                <ul class="list-inline">
                                    <li>
                                        <span class="glyphicon glyphicon-time text-muted"></span> December 23, 2013
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-folder-open text-muted"></span> <a href="#">Web Development</a>
                                    </li>
                                </ul>

                                <p>In this course, we’ll take a beautiful PSD design, and, over the course of a dozen videos, convert it to HTML and CSS!</p>

                                <ul class="list-inline pull-right">
                                    <li>
                                        <h4><span class="label label-default">13 Lessons</span></h4>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-warning">View Course</a>
                                    </li>
                                </ul>
                            </div> <!-- end media-body -->
                        </div> <!-- end media -->
                    </article>

                    <hr>
                </li>
                <li>
                    <article>
                        <div class="media">
                            <a href="#" class="pull-left"><img src="http://placehold.it/100x100" alt="Image" class="img-circle media-object"></a>

                            <div class="media-body">
                                <h1 class="media-heading">Converting an eCommerce PSD to HTML &amp; CSS</h1>

                                <ul class="list-inline">
                                    <li>
                                        <span class="glyphicon glyphicon-time text-muted"></span> December 23, 2013
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-folder-open text-muted"></span> <a href="#">Web Development</a>
                                    </li>
                                </ul>

                                <p>In this course, we’ll take a beautiful PSD design, and, over the course of a dozen videos, convert it to HTML and CSS!</p>

                                <ul class="list-inline pull-right">
                                    <li>
                                        <h4><span class="label label-default">13 Lessons</span></h4>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-warning">View Course</a>
                                    </li>
                                </ul>
                            </div> <!-- end media-body -->
                        </div> <!-- end media -->
                    </article>

                    <hr>
                </li>
            </ul>
        </div> <!-- end col-lg-8 -->

        <aside class="col-lg-3">
            <div>
                <form action="#" method="GET">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search Tuts+">
                    </div> <!-- end form-group -->

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-7 col-lg-offset-3 col-xs-10">
                                <select class="form-control">
                                    <option>All Content</option>
                                    <option>Courses</option>
                                    <option>eBooks</option>
                                    <option>Guides</option>
                                    <option>Source Files</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-xs-2">
                                <button class="btn btn-sm btn-warning pull-right">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div> <!-- end row -->
                    </div> <!-- end form-group -->
                </form>
            </div>

            <hr>

            <div>
                <p><strong>Topics:</strong></p>

                <div class="list-group">
                    <a href="" class="list-group-item">Topic 1<span class="badge">12</span></a>
                    <a href="" class="list-group-item">Topic 2<span class="badge">12</span></a>
                    <a href="" class="list-group-item">Topic 3<span class="badge">12</span></a>
                    <a href="" class="list-group-item">Topic 4<span class="badge">12</span></a>
                    <a href="" class="list-group-item">Topic 5<span class="badge">12</span></a>
                </div>
            </div>

            <hr>

            <p class="text-center">Already a member? <a href="#">Sign In</a></p>

            <hr>

            <div>
                <p><strong>Upcoming Courses:</strong></p>

                <ul class="media-list">
                    <li class="media">
                        <a href="" class="pull-left"><img src="http://placehold.it/50x50" alt="Upcoming" class="media-object img-circle"></a>
                        <div class="media-body">
                            <h5 class="media-heading">Upcoming course 1 title</h5>
                            <p class="text-muted"><small>with Author Name</small></p>
                            <span class="label label-default">MONTH</span>
                        </div>
                    </li>
                    <li class="media">
                        <a href="" class="pull-left"><img src="http://placehold.it/50x50" alt="Upcoming" class="media-object img-circle"></a>
                        <div class="media-body">
                            <h5 class="media-heading">Upcoming course 2 title</h5>
                            <p class="text-muted"><small>with Author Name</small></p>
                            <span class="label label-default">MONTH</span>
                        </div>
                    </li>
                    <li class="media">
                        <a href="" class="pull-left"><img src="http://placehold.it/50x50" alt="Upcoming" class="media-object img-circle"></a>
                        <div class="media-body">
                            <h5 class="media-heading">Upcoming course 3 title</h5>
                            <p class="text-muted"><small>with Author Name</small></p>
                            <span class="label label-default">MONTH</span>
                        </div>
                    </li>
                </ul>

                <p class="text-center"><a href="">Suggest a Course &rarr;</a></p>
            </div>

            <hr>
        </aside> <!-- end col-lg-3 -->
    </div> <!-- end row -->

    <hr>

    <ul class="pagination">
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">Last &raquo;</a></li>
    </ul>

    <p class="pull-right"><small>Page 1 of 26</small></p>
    </section>



    <!-- FOOTER -->
    <footer>
        <div class="well">
            <h1>Tuts+ Premium is an Envato project helping thousands of people learn the skills that matter to them.</h1>
        </div> <!-- end well -->

        <div class="row">
            <div class="col-lg-2">
                <h5>Footer section 1</h5>
                <ul class="list-unstyled">
                    <li><a href="">Footer link 1</a></li>
                    <li><a href="">Footer link 2</a></li>
                    <li><a href="">Footer link 3</a></li>
                </ul>
            </div> <!-- end col-lg-2 -->
            <div class="col-lg-2">
                <h5>Footer section 2</h5>
                <ul class="list-unstyled">
                    <li><a href="">Footer link 1</a></li>
                    <li><a href="">Footer link 2</a></li>
                    <li><a href="">Footer link 3</a></li>
                </ul>
            </div> <!-- end col-lg-2 -->
            <div class="col-lg-2">
                <h5>Footer section 3</h5>
                <ul class="list-unstyled">
                    <li><a href="">Footer link 1</a></li>
                    <li><a href="">Footer link 2</a></li>
                    <li><a href="">Footer link 3</a></li>
                </ul>
            </div> <!-- end col-lg-2 -->
            <div class="col-lg-6">
                <h5>Tuts+ Network</h5>

                <div class="row">
                    <div class="col-lg-4">
                        <ul class="list-unstyled">
                            <li>
                                <p><img src="http://placehold.it/24x24" alt=""> Site name</p>
                            </li>
                            <li>
                                <p><img src="http://placehold.it/24x24" alt=""> Site name</p>
                            </li>
                            <li>
                                <p><img src="http://placehold.it/24x24" alt=""> Site name</p>
                            </li>
                        </ul>
                    </div> <!-- end col-lg-4 -->
                    <div class="col-lg-4">
                        <ul class="list-unstyled">
                            <li>
                                <p><img src="http://placehold.it/24x24" alt=""> Site name</p>
                            </li>
                            <li>
                                <p><img src="http://placehold.it/24x24" alt=""> Site name</p>
                            </li>
                            <li>
                                <p><img src="http://placehold.it/24x24" alt=""> Site name</p>
                            </li>
                        </ul>
                    </div> <!-- end col-lg-4 -->
                    <div class="col-lg-4">
                        <ul class="list-unstyled">
                            <li>
                                <p><img src="http://placehold.it/24x24" alt=""> Site name</p>
                            </li>
                            <li>
                                <p><img src="http://placehold.it/24x24" alt=""> Site name</p>
                            </li>
                            <li>
                                <p><img src="http://placehold.it/24x24" alt=""> Site name</p>
                            </li>
                        </ul>
                    </div> <!-- end col-lg-4 -->
                </div> <!-- end row -->
            </div> <!-- end col-lg-6 -->
        </div> <!-- end row -->

        <hr>

        <p class="text-muted">
            <img src="http://placehold.it/100x20" alt="Logo">

            <small>Copyright information</small>
        </p>
    </footer>
</div> <!-- end container -->



<div class="jumbotron text-center">
	<h1>Home Page</h1>

    <!-- HEADER AND TODO COUNT -->
    <div class="jumbotron text-center">
        <h1>Teams on system <span class="label label-info">{{ teams.length }}</span></h1>
    </div>
    <!-- Teams LIST -->
    <div id="teams-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <!-- LOOP OVER THE teams IN $scope.teams -->
            <div class="checkbox" ng-repeat="team in teams">
                <label>
                    {{ team.name }}
                </label>
            </div>

            <p class="text-center" ng-show="loading">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
            </p>

        </div>
    </div>
</div>