<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Show Teams</h3>
    </div>
    <div class="panel-body">
        <div class="pull-right">
            <form class="form-inline">
                <div class="form-group">
                    <input class="form-control" ng-model="searchText" placeholder="Filter"/>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="sortOrder" ng-options="item.value as item.text for item in sortOptions"></select>
                </div>

            </form>
        </div>
        <table class="table table-hover table-striped table-condensed">
            <thead>
            <tr>
                <th>Name</th>
                <th>Technology</th>
                <th>Company</th>
            </tr>
            </thead>
            <tbody ng-repeat="team in teams | filter:searchText | orderBy:sortOrder" >
            <tr>
                <td><a href="/show_teams/{{team._id}}">{{team.name}}</a></td>
                <td>{{team.technology}}</td>
                <td>{{team.company}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>